allure-pytest==2.8.6
allure-python-commons==2.8.6
atomicwrites==1.4.0
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colorlog==4.6.2
concurrent-log-handler==0.9.9
cryptography==3.2.1
ddt==1.4.1
elasticsearch==7.9.1
flaky==3.7.0
Flask==1.0.2
har2case==0.3.1
HttpRunner==1.5.8
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.10
jsonpath==0.82
kafka-python==1.4.6
MarkupSafe==1.1.1
more-itertools==8.5.0
nb-log==3.9
packaging==20.4
pika==1.1.0
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pycryptodome==3.9.9
pymongo==3.5.1
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==6.1.2
pytest-base-url==1.4.2
pytest-html==1.19.0
pytest-metadata==1.10.0
pytest-rerunfailures==9.1.1
PyTestReport==0.2.1
python-json-logger==0.1.10
PyYAML==3.12
requests==2.24.0
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.15.0
toml==0.10.1
tomorrow3==1.1.0
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
xlrd==1.2.0
zipp==3.3.0
